@import "../../resources/variables.scss";

.header{
    margin:40px;
}
.projectBoxes{
    display: flex;
    flex-flow: row wrap;    
    background-color: tomato;
    justify-content: space-evenly;
}
