@import "../../../resources/variables.scss";

.programing-skills {
  padding: 80px;
  .skills {
    margin: 40px;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    .type {
      width: 130px;
    }
  }
}

