@import "../../resources/variables.scss";
.resume {
  margin: 0;
  padding: 0px;
  .top {
    padding: 30px;
    background-image: url("/images/background.jpg");
    background-size: cover;
    img {
      margin-top: 80px;
      width: 300px;
      height: 300px;
      object-fit: cover;
      box-shadow: $box-shadow;
      border-radius: 50%;
    }
    h1 {
      margin: 20px;
      float: center;
    }
    h4 {
      margin-bottom: 80px;
    }
  }
  .education {
    margin: 40px 0;
    padding: 50px;
    .edu-box {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      margin: 40px 20%;
      text-align: left;
      .right {
        text-align: right;
      }
    }
  }
  .work {
    margin: 40px 0;
    padding: 50px;
    .work-box {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      margin: 40px 20%;
      text-align: left;
      .right{
        text-align: right;
      }
    }
  }
}
