@import "../../resources/variables.scss";
.resume {
  margin: 80px 0;
  padding: 20px;
  .top {
      padding: 30px;
    img {
      width: 300px;
      height: 300px;
      object-fit: cover;
      box-shadow: $box-shadow;
      border-radius: 50%;
    }
    h1 {
      float: center;
    }
  }
  .education {
    margin: 40px 0;
    padding: 50px;
    .edu-box {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
      margin: 40px 20%;
      text-align: left;
      .right {
        text-align: right;
       
      }
    }
  }
}
